$breakpoint-mid: 820px;
$breakpoint-max: 1200px;

@mixin breakpoint($mq-width) {
    @media screen and (min-width: $mq-width) {
        @content;
    }
}

@mixin center-img {
    height: auto;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin full-bleed ($color) {
    
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100vw;
        height: 101%;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        background: $color;
        z-index: -1;
    }
}

@mixin bevel-br($bevel, $borderWidth) {

    isolation: isolate;

    clip-path: polygon(
    0 0,
    100% 0, 
    100% calc(100% - $bevel), 
    calc(100% - $bevel) 100%, 
    0 100%,
    );

    &::after, &::before {
        content: '';
        position: absolute;
        inset: 0;
        transition: background-color .3s;
    }

    &::before {
        z-index: -2;
    }

    &::after {
        z-index: -1;
        
        clip-path: polygon(
        $borderWidth $borderWidth,
        calc(100% - $borderWidth) $borderWidth, 
        calc(100% - $borderWidth) calc(100% - calc($bevel + $borderWidth * 0.41)), 
        calc(100% - calc($bevel + $borderWidth * 0.41)) calc(100% - $borderWidth), 
        $borderWidth calc(100% - $borderWidth),
        );
    }
}

@mixin bevel-tl-br($bevel, $borderWidth) {
    
    isolation: isolate;

    clip-path:polygon(
        0% $bevel,
        $bevel 0%,
        100% 0,
        100% calc(100% - $bevel),
        calc(100% - $bevel) 100%,
        0 100%
    );

    &::after, &::before {
        content: '';
        position: absolute;
        inset: 0;
        transition: background-color .3s;
    }

    &::before {
        z-index: -2;
    }

    &::after {
        z-index: -1;
        
        clip-path:polygon(
            $borderWidth calc($bevel + $borderWidth * 0.41),
            calc($bevel + $borderWidth * 0.41) $borderWidth,
            calc(100% - $borderWidth) $borderWidth,
            calc(100% - $borderWidth) calc(100% - calc($bevel + $borderWidth * 0.41)),
            calc(100% - calc($bevel + $borderWidth * 0.41)) calc(100% - $borderWidth),
            $borderWidth calc(100% - $borderWidth)
        );
    }
}