@use 'src/styles/helpers/reset.scss';
@use 'src/styles/variables/colors.scss';

@use 'src/styles/helpers/utilities.scss' as *;

//HTML Elements

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    line-height: 20px;

    @include breakpoint($breakpoint-mid) {
        font-size: 18px;
        line-height: 22px;
    }
}

body {
    color: var(--color-txt);
    background: var(--color-background);
    overflow: clip;
}

pre { 
    --bevel: 1.5em;

    position: relative;

    padding: 15px;

    background: var(--color-tertiary);
    font-size: 0.8rem;
    white-space: pre-line;

    clip-path: polygon(
    0 0,
    100% 0, 
    100% calc(100% - var(--bevel)), 
    calc(100% - var(--bevel)) 100%,
    0 100%,
    );

    &::after {
        content: 'glsl';
        position: absolute;
        top: 10px;
        right: 40px;
        font-size: 0.7rem;
    }
}

h1 {
    font-size: 1.8rem;
    line-height: 2.0rem;
}

p {
    font-size: 1rem;
    line-height: 1.2rem;
}

button {
    --bevel: .7em;
    --border-width: .05em;
    
    position: relative;

    padding: 10px 15px 10px 10px;

    color: var(--color-primary);
    transition: color .3s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @include bevel-br(var(--bevel), var(--border-width));

    &::before {
        background-color: var(--color-secondary);
    }

    &::after {
        background-color: var(--color-secondary);
    }
}

[data-btn-active="true"] {
    color: var(--color-txt) !important;

    &::after {
        background-color: var(--color-primary) !important;
    }
}

//General classes

.webgl {
    width: 100%;
    height: 100dvh;
}

.title {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 20px;

    white-space: nowrap;
}

.btn-clipboard {
    clip-path: none;
    position: absolute;
    top: -10px;
    right: 10px;

    width: 20px;
    height: 30px;

    margin: 0;
    padding: 0;

    background: url(clipboard.svg) center/100% no-repeat;

    &::after, &::before {
        content: none;
    }
}